#aboutme {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/aboutme.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .row {
    @include background-opacity($background_1, 0.5);
  }
}

.aboutme- {
  &img {
    //vertical-align: ;
  }

  &id {
    text-align: center;
  }

  &description {
    margin-top: 75px;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.1em;
  }
}

/* Small Devices, Tablets */
//@media only screen and (min-width : 768px) {
//
//}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #aboutme {
  }

  .aboutme- {
    &img {

    }

    &id {
      text-align: left;
      padding-top: 40px;
    }

    &decription {
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}