#jumbotron {
  background: url('../images/jumbotron.jpg') center no-repeat;
}

#main-description {
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 20px;
  @include background-opacity($background_1, 0.5);
  p{
    padding:10px 0;
  }
}