#jumbotron {
  background: url('../images/jumbotron.jpg') center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: solid 3px $emphasis;
}

#main-description {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  @include background-opacity($background_1, 0.5);
  p{
    padding:10px 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #main-description {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}