/** General Styling for Header and Navbar */
body{
  margin-top: 83px;
}

header{
  // Fixed header properties
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  @include transition();
  font-size: 10px;

  //Colors of header
  background-color: $background_2;
  //@include background-opacity($background_2, 0.5);
  border-bottom: solid 3px $emphasis;

  // Properties of all elems inside header
  & * {
    background-color: $background_2;
    //@include background-opacity($background_2, 0.5);
  }
}
.shrinked{
  font-size: 10px;
}

#header-nav {
  margin-bottom: 0;
  // Navigation links color
  a {
    color: $white;
  }
  // Container for all elements inside header
  & > div {
    padding: 1.43em;
  }
}

// Brand logo options
.brand-logo {
  width: 3em;
  height: 2.78em;
  margin: .71em 0 0 1.43em;
  background: url("../images/court.png") no-repeat;
  background-size: cover;
  display: inline-block;
  float: left;
}

//Company name options
.company-name {
  display: inline-block;
  margin: 0 1.43em;
  h1 {
    padding-top: .3em;
    font-size: 1.7em;
    margin: 0;
  }
}

.nav > li{
  font-size: 1em;
  & > a {
    //@include transition(ease .3s);
    border-bottom: transparent solid 3px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      @include transition(ease .3s);
      background: none;
      border-bottom-color: $emphasis;
    }
    &.active {
      background: none;
      border-bottom-color: $emphasis;
    }

    &:active, &:focus {
      background: none;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  body {
    margin-top: 136px;
  }

  header {
    font-size: 16px;
  }
  .shrinked {
    font-size: 12px;
  }

  .nav > li {
    padding: 0 2.71em 0 0;
    & > a {
      padding: .71em 0;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    margin-top: 96px;
  }
}