/** General Styling for Header and Navbar */
header{
  background-color: transparent;
  & * {
    background-color: transparent;
  }
}
#header-nav {
  color: $white;
  a {
    color: $white;
  }
  & > div {
    padding: 20px;
  }

  & span.fa, & span.glyphicon {
    font-size: 2em;
  }
}

.navbar {
  border: none;
  margin-bottom: 0;
}

#brand-logo {
  width: 42px;
  height: 39px;
  margin: 10px 0 0 20px;
  background: url("../images/court.png") no-repeat;
  display: inline-block;
  float: left;
}

#company-name {
  display: inline-block;
  margin: 0 20px;
  h1 {
    padding-top: .3em;
    font-size: 1.7em;
    margin: 0;
  }
}

.nav > li{
  padding: 0 38px 0 0;
  & > a {
    @include transition(ease .3s);
    border-bottom: transparent solid 3px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
    padding: 10px 0;
    &:hover {
      background: none;
      border-bottom-color: $emphasis;
    }
    &:active, &:focus {
      background: none;
    }
  }
}

