/* Styling for #special-info container */

#special-info {
  margin-top: 40px;
  padding-top: 40px;
  //border-top: solid 3px $emphasis;

  & h2{
    font-size: 1.5em;
    padding-left: 15px;
    margin: 0;
  }

  & small {
    padding-left: 15px;
  }
}
.info- {
  &item{
    margin-top: 20px;
    @include background-opacity($background_1, 0.5);
  }
  &icon, &title{
    display: inline-block;
  }
  &desc p{
    margin: 20px 0 30px 10px;
  }
}
