@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body {
  background-color: #000;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main {
  border-bottom: 3px solid #1B5E20; }

h2, h3, h4, h5, h6, small {
  font-weight: 700;
  text-transform: uppercase; }

h3, h4 {
  color: #1B5E20;
  font-size: 1.2em; }

p {
  text-align: justify; }

small {
  color: #1B5E20; }

hr {
  color: #1B5E20; }

.fa, .glyphicon {
  font-size: 6rem;
  color: #1B5E20; }

.icon-bar {
  background-color: #1B5E20; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/** General Styling for Header and Navbar */
body {
  margin-top: 83px; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  font-size: 10px;
  background-color: #212121;
  border-bottom: solid 3px #1B5E20; }
  header * {
    background-color: #212121; }

.shrinked {
  font-size: 10px; }

#header-nav {
  margin-bottom: 0; }
  #header-nav a {
    color: #fff; }
  #header-nav > div {
    padding: 1.43em; }

.brand-logo {
  width: 3em;
  height: 2.78em;
  margin: .71em 0 0 1.43em;
  background: url("../images/court.png") no-repeat;
  background-size: cover;
  display: inline-block;
  float: left; }

.company-name {
  display: inline-block;
  margin: 0 1.43em; }
  .company-name h1 {
    padding-top: .3em;
    font-size: 1.7em;
    margin: 0; }

.nav > li {
  font-size: 1em; }
  .nav > li > a {
    border-bottom: transparent solid 3px;
    text-transform: uppercase;
    text-align: center; }
    .nav > li > a:hover {
      -webkit-transition: ease 0.3s;
      -moz-transition: ease 0.3s;
      -ms-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s;
      background: none;
      border-bottom-color: #1B5E20; }
    .nav > li > a.active {
      background: none;
      border-bottom-color: #1B5E20; }
    .nav > li > a:active, .nav > li > a:focus {
      background: none; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    margin-top: 136px; }

  header {
    font-size: 16px; }

  .shrinked {
    font-size: 12px; }

  .nav > li {
    padding: 0 2.71em 0 0; }
    .nav > li > a {
      padding: .71em 0; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    margin-top: 96px; } }
#custom-jumbotron {
  background: url("../images/jumbotron.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: solid 3px #1B5E20; }

#main-description {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  background: #000;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.5); }
  #main-description p {
    padding: 10px 0; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #main-description {
    margin-top: 200px;
    margin-bottom: 200px; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* Styling for footer */
footer.jumbotron {
  background: transparent;
  margin-bottom: 0;
  background: #212121; }

.foot-info {
  text-align: center;
  padding-top: 20px; }

.foot-info > ul {
  list-style: none;
  padding: 0 10px; }
  .foot-info > ul > a {
    color: #fff;
    text-decoration: none;
    padding-top: 5px; }

.map {
  clear: both; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .foot-info {
    text-align: left;
    padding-top: 0; } }
/* Styling for #special-info container */
#special-info {
  margin-top: 100px;
  margin-bottom: 100px; }
  #special-info h2 {
    font-size: 1.5em;
    padding-left: 15px;
    margin: 0; }
  #special-info small {
    padding-left: 15px; }

.info-item {
  margin-top: 20px;
  background: #000;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.5); }
.info-icon, .info-title {
  display: inline-block; }
.info-desc p {
  margin: 20px 0 30px 10px; }

#aboutme {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/aboutme.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #aboutme .row {
    background: #000;
    /* The Fallback */
    background: rgba(0, 0, 0, 0.5); }

.aboutme-img {
  max-width: 200px;
  height: auto;
  margin-top: 20px; }
.aboutme-id {
  text-align: center; }
.aboutme-description {
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1em; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #aboutme {
    padding-top: 200px;
    padding-bottom: 200px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .aboutme-id {
    text-align: left;
    padding-top: 40px; } }
/* Large Devices, Wide Screens */
#contact {
  background: url("../images/contact.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0; }
  #contact .row {
    padding: 25px;
    margin-top: 150px;
    margin-bottom: 150px;
    background: #000;
    /* The Fallback */
    background: rgba(0, 0, 0, 0.5); }

#form-message-input {
  width: 100%;
  min-height: 500px;
  border: #1B5E20 solid 2px; }

#contact-message {
  background: transparent;
  border: #1B5E20 solid 2px;
  width: 100%; }

.group {
  position: relative;
  margin-bottom: 25px; }
  .group input, .group textarea {
    font-size: 16px;
    padding: 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: #1B5E20 solid 2px;
    background: transparent; }
    .group input:focus, .group textarea:focus {
      outline: none; }
    .group input:focus ~ label, .group input:valid ~ label, .group textarea:focus ~ label, .group textarea:valid ~ label {
      font-size: 12px;
      top: -15px; }
  .group label {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
  .group .bar {
    position: relative;
    display: block;
    width: 300px; }
    .group .bar:before, .group .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #1B5E20;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all; }
    .group .bar:before {
      left: 50%; }
    .group .bar:after {
      right: 50%; }
  .group:focus ~ .bar:before, .group:focus ~ .bar:after {
    width: 50%; }
  .group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .group:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease; }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
.contact-info {
  padding-top: 50px;
  padding-bottom: 30px; }

.form-submit {
  height: 64px;
  width: 176px;
  padding: 6px;
  float: right;
  background-color: #1B5E20;
  border: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.copyright {
  border-top: 3px solid #1B5E20; }
  .copyright-text {
    text-align: center;
    font-size: 0.9em;
    padding: 15px; }
    .copyright-text span {
      color: #1B5E20;
      font-size: 1.2em;
      font-weight: 700; }
