<div>
  message: {{ mainpage.credentials.name }} <br>
  shit: {{ mainpage.shit.shit }}
</div>

<!--<main>-->
<!--<section id="jumbotron" class="container-fluid">-->
<!--<article class="row">-->
<!--<div id="main-description" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-5">-->
<!--<h2>Lorem ipsum dolor.</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti et eveniet nam optio, quidem repellat-->
<!--temporibus vitae voluptatum! A cupiditate exercitationem non quas quisquam rerum saepe vel! Consequatur-->
<!--doloribus error exercitationem fugiat id illum ipsum laboriosam, magni nemo nisi nobis non officia provident-->
<!--quisquam, rem voluptatem voluptatum. Adipisci blanditiis, expedita.</p>-->
<!--</div>-->
<!--</article> &lt;!&ndash; /.container &ndash;&gt;-->
<!--</section> &lt;!&ndash; /#jumbotron &ndash;&gt;-->

<!--<section id="special-info" class="container">-->
<!--<article class="row">-->
<!--<div class="info-item col-xs-12 col-md-4">-->
<!--<div class="info-icon">-->
<!--<i class="fa fa-balance-scale"></i>-->
<!--</div>-->
<!--<div class="info-title">-->
<!--<h2>Lorem ipsum</h2>-->
<!--<small>Lorem ipsum.</small>-->
<!--</div>-->
<!--<div class="info-desc">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A earum eos esse explicabo, facilis iusto maiores-->
<!--maxime minus mollitia natus!-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="info-item col-xs-12 col-md-4">-->
<!--<div class="info-icon"><i class="fa fa-bank"></i></div>-->
<!--<div class="info-title">-->
<!--<h2>dolor sit</h2>-->
<!--<small>Lorem ipsum.</small>-->
<!--</div>-->
<!--<div class="info-desc">-->
<!--<p>Atque dignissimos dolorem, dolorum eveniet hic magnam magni odit perferendis recusandae rerum. Blanditiis-->
<!--eos ex id mollitia? Eligendi, minima, sed?-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="info-item col-xs-12 col-md-4">-->
<!--<div class="info-icon"><i class="fa fa-bug"></i></div>-->
<!--<div class="info-title">-->
<!--<h2>Amet consectetur</h2>-->
<!--<small>Lorem ipsum.</small>-->
<!--</div>-->
<!--<div class="info-desc"><p>Accusantium ad alias aliquid assumenda at fugiat id illum libero maiores, mollitia,-->
<!--neque nihil nostrum-->
<!--quod quos ut vitae voluptatem.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</article> &lt;!&ndash; /.row &ndash;&gt;-->
<!--</section> &lt;!&ndash; ./#special-info &ndash;&gt;-->
<!--</main>-->

